<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Complete</title>
  <link rel="stylesheet" href="/css/complete.css" </head>

<body>

  <section id="header">
    <span id="splash-img">
      <img class="splash img" src="https://splashtacular.com/wp-content/uploads/2026/02/Logo-SVG-1.svg">
    </span>
    <span id="zpi-img"><img class="zpi img"
        src="https://zpi.com/wp-content/uploads/2018/06/Zephyr-Horizontal-02.png"></span>

    <h1 class="header">
      <p>Permission changes have been completed</p>
    </h1>
  </section>

  <div class="back"><a href="/">Change more permissions</a></div>

  <div class="folder-list">
    <h1 class="list-head">Folders Modified</h1>
    <ul>
      <% folders.forEach(folder=> { %>
        <li>
          <p>
            <%= folder %>
          </p>
        </li>
        <%});%>
    </ul>
  </div>
  <%- include('partials/footer') %>

</body>

</html>